---
import '../global.css'; 
import Nav from './nav.astro';
---
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Ahrensburg.city</title>   
   
        </head>
    </head>
 <body>
  <h1>ahrensburg.city</h1>
  <Nav />
      <main>
  
        <slot />
      
      </main>
    </body>
</html>