<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Ahrensburg.city</title>
    </head>
    <body>
      <main>
        <h1>Test Seite</h1>
      <slot />
      </main>
    </body>
</html>